/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161721;
    color: #90a4ae;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 75%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    color: #60fbd0;
    margin: 0;
}

header p {
    color: #1e92e6;
    font-size: 1.2em;
}

footer {
    background-color: #22242f;
    color: #607d8b;
    text-align: center;
    padding: 20px 0;
}

.social-buttons a {
    margin: 0 10px;
    color: #90a4ae;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-buttons a:hover {
    color: #1c6599;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
